# Jupyter Notebook files
.ipynb_checkpoints/

# Python virtual environments
venv/
env/

# Compiled Python files
*.pyc
__pycache__/

# Logs and output files
*.log
*.csv
*.xls
*.xlsx

# Ignore the notebook kernel connection file
*.json

# Ignore the notebook checkpoints
checkpoints/

# Ignore cached data and intermediate files
*.sqlite
*.db
*.dat
*.tmp

# Ignore system-specific files
.DS_Store
Thumbs.db
